---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		 <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>

      <h1>Tanya Angel</h1>

      <p><strong>Music & Fashion Art</strong></p>

      <p>
      Explore my music and original fashion art and visuals inspired by my musical journey and fashion visual production.
      </p>

      <p>
      Discover creative human artistry enhanced by AI-driven visual storytelling.
      </p>

    </main>
    <Footer />
  </body>
</html>
				
